/*---------------------------------------------------------------------*/
/* MEDIA QUERIS FOR BASE---------------------------------------------------------*/
/*---------------------------------------------------------------------*/




/*BIG TABLETS TO 1200px:(WIDTH SMALLER THAN 1140px ROW) */
@media only screen and (max-width:1200px) {
    #text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/*FOR SMALL TABLETS TO BIG TABLETS: from 768px TO 1023px*/
@media only screen and (max-width:1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .long-text{
    width: 100%;
    margin-left: 0;
  }

}

/*FOR SMALL PHONES TO SMALL TABLETS : From 481 to 767px  */
@media only screen and (max-width:767px) {
    body {
        font-size: 15px;
    }

    #text-box h1 {
        font-size: 320%;}

    section {
        padding: 30px 0;
    }

    .row,
    #text-box{
        padding: 0 3%;
    }
    .col {width: 100%;
      margin: 0 0 4% 0;
    }
}

/*FOR SMALL PHONES: 0 to 480px  */
@media only screen and (max-width:480px) {
    section {
        padding: 25px 0;
    }
}


/*---------------------------------------------------------------------*/
/* MEDIA QUERIS FOR RESPONSIVE NAVBAR---------------------------------------------------------*/
/*---------------------------------------------------------------------*/


@media (max-width:992px) {
    .toggle {
        /*MENU BUTTON*/
        display: block;
    }

    .logo{
      height: 35px;
      width: auto;
      margin-top: 25px;
    }

    nav {
        padding: 0 0;
        background: rgba(255, 255, 255, .5);
    }

    nav ul {
        position: absolute;
        /*REMOVE THIS*/
        display: none;
        width: 100%;
        top: 80px;
        left: 0px;
        /*Because when we add queries.css and defined [row padding] it created uncessary space on the left side*/
        background: #262626;

    }

    nav ul.active

    /*This is used in JavaScript (Below J query) for MENU button function this is basically [active] named class in ul*/
        {
        display: block;
      }

    nav ul li a {
        margin: 0;
        display: block;
        text-align: center;
        color: #fff;

    }
}
