.services {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/about.gif);
  background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), url(https://res.cloudinary.com/rishdesigns/image/upload/v1555789374/bg.jpg);
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#intropara {
  line-height: 1.6;
}

#text {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#text h1 {
  font-size: 350%;
  /*Relative size for responsivness our base size is 20px(defined in html tag above ) so if 100% = 20px then 400% = 80px*/
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
  display: inline;
}

#services h2 {
  color: #777;
}

#services p {
  color: #777;
}

.ser h3 {
  color: #777;
}

/*Other Services*/
/*More Services*/
.more {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/service.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contactus p {
  font-size: 24px;
}

.moreservice {
  text-align: center;
  padding: 2rem;
  color: #555;
}

#serviceul {
  list-style-type: none;
}

#serviceul a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.6ease;
  border-bottom: none;
  line-height: 1.6;
}

/*Map*/

#map{
  padding: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/map.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/*Contact*/
.contactboxservice{
    text-align: center;
    padding: 2rem;
    color: #555;
}

.contactboxservice i{
    font-size: 5rem;
    color: #27ae60;
}
