//COLORS
$color-primary: #27ae60;
$color-primary-light: #7ed56f;
$color-primary-dark: #1e8449; //
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


// Font
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; //margin-bottom 80px
$gutter-horizontal: 6rem; //spaces between columns
