.counter_up{
}


.cp{
    text-align: center;
    padding: 2rem;
    color: #555;
    text-transform: uppercase;
}

.cp i{
    font-size: 4rem;
    color: $color-primary;
}

.counter{
    font-size: 40px;
    margin: 20px 0;
}

#heading{
  color: #555;
}
