/*---------------------------------------------------------------------*/
/* HEADER BUTTONS---------------------------------------------------------*/
/*---------------------------------------------------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1rem 3rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20rem;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;
    margin-right: 1.5rem;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid $color-primary;
    color: $color-primary;
}

.btn:hover,
.btn:active {
    background-color: $color-primary-dark;
}


.btn-full:hover,
.btn-full:active {
    border: 1px solid $color-primary-dark;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid $color-primary-dark;
    color: $color-white;
}
