/*Animation of types js*/

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/*ANIMATION SKILL BARS*/

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes mysql {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}
